body {
    margin: 0;
}

.h400 {
    height: 400px;
}

.w700 {
    width: 700px;
}

.h250 {
    height: 250px;
}

.h100 {
    height: 100px;
}

.w100 {
    width: 100px;
}

.h60 {
    height: 60px;
}

.h20 {
    height: 20px;
}

.w45 {
    width: 45px;
}

.bgr-col-perp {
    background: #6a65e2;
}

.bgr-col-dark {
    background: #0f2a3d;
}

.bgr-col-grey {
    background: #ced8e1;
}

.bord-rad5 {
    border-radius: 5px;
}

.flex {
    display: flex;
}

.colum {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.just-centr {
    justify-content: center;
}


.button {
    margin-top: 10px;
    margin-left: 60px;
}

.absolut {
    position: absolute;
}

.reletiv {
    position: relative;
}

.box1 {
    column-gap: 40px;
    top: -45px;
}

.search {
    right: 30px;
    top: 10px;
    column-gap: 15px;
    color: #6a65e2;
}