@media screen and (min-width: 576px) and (max-width: 768px) {

/*    .w800 {*/
/*        width: 400px;*/
/*    }*/
/*.nav{width: 400px;*/
/*    height: 15%;*/
/*position: relative;}*/
/*    .wrap {*/
/*        flex-direction: column;*/
/*    }*/

/*    .h700 {*/
/*        height: 500px;*/
/*    }*/
/*    .box3{margin-top: 80px;*/
/*    }*/
/*    .header{*/
/*        height: 95px;}*/
/*    .box4{flex-direction: column;*/
/*        height: 40% ;*/
/*    }*/


}