h1 {background: gray;
    color: #111ea8;
    text-align: center;
}
h2 {background: cornsilk;
    color: #a05f7a;
    text-align: center;
}
p { background: cornsilk;
    color: #a05f7a;
    text-align: center;

}
ul {background: rgba(0, 0, 0, 0.31);
    color: #6964e2;

}